#main-logo{
    margin-left: 1%;
    background-color: black;
    color: white;
    outline: none;
    width: 100px;
    height: 100px;
}

.main-page-main-image{
    width: 300px;
    margin: auto;
    flex: content;
    display: flex;
}

.new-page-main-image{
    width: 300px;
    margin: auto;
    flex: content;
    display: flex;
}