body {
    margin: 0;
    padding: 0;
}

#search-bar{
    margin-left: 25%;
    width: 40%;
    vertical-align: 40px;
}

.main-page-login-register-upload{
    justify-content: right; 
    align-items: end; 
    display: flex;
}

.new-page-login-register-upload{
    justify-content: right; 
    align-items: end; 
    display: flex;
}

.upload-new-page-li {
    margin-top: 10px;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.register-login-upload{
    margin-top: 10px;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.main-page-news-title{
    vertical-align: top;
    margin: auto;
}

.main-page-news-content{
    vertical-align: top;
    margin: auto;
    font-size: larger;
    margin-bottom: 12%;
}

.main-page-news-div{
    margin: auto;
    justify-content: center;
    align-items: center;
    flex: content;
    display: flex;
}

.new-page-news-div{
    margin: auto;
    justify-content: center;
    align-items: center;
    flex: content;
    display: flex;
}

.new-page-news-title{
    vertical-align: top;
    margin: auto;
}

.new-page-news-content{
    vertical-align: top;
    margin: auto;
    font-size: larger;
    margin-bottom: 12%;
}

.upload-new-page-div{
    justify-content: center;
    align-items: center;
    display: flex;
}

.upload-new-page-li {
    margin-top: 10px;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#upload-new-page-link{
    font-size: larger;
}

#upload-new-page-url-button{
    font-size: larger;
}

#upload-new-page-title{
    font-size: x-large;
}

#upload-new-page-content{
    resize: vertical;
    width: 40%;
    height: 300px;
}


li{
    gap: 10px;
    flex-direction: column;
    display: flex;
}

ul{
    padding: 0px;
    margin: 0px;
}