#search-bar{
    margin-left: 25%;
    width: 40%;
    vertical-align: 40px;
}

.main-page-center-list{
    list-style-type: none;
}

.main-login-register{
    justify-content: right; 
    align-items: end; 
    display: flex;
}

.register-login{
    margin-top: 10px;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

