#main-logo{
    margin-left: 10%;
    background-color: black;
    color: white;
    outline: none;
    width: 100px;
    height: 100px;
}

#search-bar-search-button{
    height: auto;
    width: auto;
    align-self: center;
    display: flex;
}

#dark-light-theme-button{
    height: auto;
    align-items: center;
    justify-content: end;
    display: flex;
    margin-left: auto;
    text-decoration: none;
    color: black;
    font-size: medium;
}

.main-page-main-image{
    width: 300px;
    margin: auto;
    flex: content;
    display: flex;
}

.new-page-main-image{
    border: 3px;
    width: 400px;
    flex: content;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#comment-avatar-image{
    height: 35px;
}