#top-bar {
    align-items: center;
    display: flex;
}

body {
    margin: 0;
    padding: 0;
}

p {
    overflow-wrap: break-word;
}

#search-bar {
    margin-left: 15%;
    width: 40%;
    max-height: 20px;
    align-self: anchor-center;
    flex: none;
}

#top-bar-profile-avatar-a{
    justify-content: center;
    display: flex;
    margin-right: 1%;
    margin-left: auto;
}

#main-page-welcome-text {
    margin-right: 2%;
    display: flex;
    margin-left: auto;
}

#date-clock-div {
    width: fit-content;
    height: 100px;
    justify-content: space-evenly;
    flex-direction: column;
    display: flex;
    margin-right: 2%;
}

#date-span {
    width: fit-content;
}

#clock-span {
    width: fit-content;
}

.main-page-login-register-upload-div {
    justify-content: right;
    align-items: end;
    display: flex;
}

.main-page-container {
    display: flex;
    justify-content: center;
}

.left-side {
    flex: 1;
}

.main-page-center-div {
    flex: 2;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}

.right-side {
    flex: 1;
}

#main-page-news-ul {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
}

.main-page-news-title {
    padding-top: 1%;
    padding-left: 2%;
    overflow-wrap: break-word;
}

.main-page-news-content {
    vertical-align: top;
    margin: auto;
    font-size: larger;
    margin-bottom: 12%;
    padding-left: 2%;
}

.register-login-upload {
    margin-top: 10px;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.new-page-login-register-upload-div {
    justify-content: right;
    align-items: end;
    display: flex;
}

.main-page-news-title {
    vertical-align: top;
    margin: auto;
}

.comment-section-li {
  border-top: 1px solid #ddd;
  margin-top: 1%;
}

.new-page-news-div {
    flex-direction: column;
    margin: 20px auto;
    justify-content: flex-start;
    align-items: center;
    flex: content;
    display: flex;
}

.new-page-news-title {
    vertical-align: top;
    margin: auto;
    overflow-wrap: break-word;
}

.new-page-news-content {
    vertical-align: top;
    margin: auto;
    font-size: larger;
    margin-bottom: 12%;
}

#new-page-comment-section-comment-button {
    width: 10%;
    height: 25px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 60%;
}

#new-page-comment-section-reply-button {
    width: 10%;
    height: 25px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 60%;
}

.comment-section-image-username-date-span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.comment-section-username-date-span {
    flex-direction: column;
    display: flex;
}

#new-page-add-comment {
    width: 70%;
    resize: none;
    border: none;
    background-color: whitesmoke;
    height: fit-content;
}

#new-page-add-reply {
    width: 70%;
    resize: none;
    border: none;
    background-color: whitesmoke;
    height: fit-content;
}

#new-page-comment-section-div {
    width: 60%;
    resize: none;
    border: none;
    background-color: whitesmoke;
    height: fit-content;
    margin-left: 1%;
}

.new-page-reply-div {
    width: 60%;
    resize: none;
    border: none;
    background-color: whitesmoke;
    height: fit-content;
    padding-left: 3%;
}

.comment-section-reply-image-username-date-span {
    align-items: center;
    flex-direction: row;
    display: flex;
    gap: 10px;
}

.comment-section-reply-username-date-span {
    flex-direction: column;
}

.upload-new-page-div {
    justify-content: center;
    align-items: center;
    display: flex;
}

.upload-new-page-li {
    margin-top: 10px;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#upload-new-page-title {
    width: 40%;
    border: none;
    outline: none;
    height: 56px;
    border-radius: 10px;
    padding: 0px 0.7rem;
    cursor: pointer;
    display: grid;
    grid-template-columns: 15% 85%;
    position: relative;
}

#upload-new-page-content {
    resize: none;
    width: 40%;
    height: 300px;
}

#upload-new-page-link {
    width: 40%;
}

li {
    gap: 10px;
    flex-direction: column;
    display: flex;
}

ul {
    padding: 0px;
    margin: 0px;
}

.profile-page {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-direction: column;
}

.profile-card {
    background: #fff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    align-self: center;
}

#profile-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.profile-name {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.profile-created {
    font-size: 14px;
    color: #666;
}

#profile-comments {
    width: 50%;
    margin-left: 1%;
}

.profile-comment-div {
    margin-bottom: 30px;
    width: 100%;
    height: fit-content;
    padding-bottom: 20px;
    border-radius: 20px;
    padding: 1% 2%;
}

#profile-comment-link {
    width: fit-content;
}

#profile-username-span {
    flex-direction: row;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#profile-email-span {
    flex-direction: row;
    display: flex;
    justify-content: center;
    gap: 10px;
}

form {
    margin: 0px;
}